<IfModule mod_rewrite.c>

RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{REQUEST_URI} !^/s/(.+)?$
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]


RewriteRule ^beta$ app/beta.html [NC,L]
</IfModule>
